/* ------- fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------- common styles or utilities ----------- */
body {
    font-family: 'Poppins', sans-serif;

}

/* slider start */
.carousel-caption {
    right: 0;
    bottom: 0;
    top: 38%;
    left: 0%;
}

/* slider end  */

/* -------------- course start  --------------- */

.course-area {
    padding: 65px 0;
}

.course-area h2 {
    font-weight: 600;
    font-weight: 45px;
    color: #000;
}

.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.single-course {
    cursor: pointer;
}

.single-course h3 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

h3 {
    font-size: 45px;
    color: #1D1D1D;
    line-height: 60px;
}

.single-course p {
    color: #777777;
    font-weight: normal;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.single-course .course-price {
    color: #289BDE;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.common-btn {
    color: #fff;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #289BDE;
    transition: all .3s;
}

a {
    text-decoration: none;
    color: #000;
}

/* ----------- course end ---------------- */
/* --------------- Explore The elearning ---------------- */
.card-title,
.card-text,
.col-md-8 {
    color: #4A4A4A;
    background-color: #F4FAFD;
}

/* -------------------- Explore The elearning end ------------------------- */

/* -------------- Register Now start ------------------------------  */
.singup-area .singup {
    background-color: #289BDE;
    padding: 80px 100px;
    border-radius: 10px;
}

.common-btn2 {
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #fff;
    transition: all .3s;
    text-decoration: none;
}

.common-btn2:hover {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #289BDE;
    text-decoration: none;
}

/* -------------- Register Now end ---------------- */

.faq-area .faq {
    max-width: 880px;
    margin: auto;
    margin-top: 30px;
}

/* -------------- footer start ----------------- */
.footer-area {
    background-color: #1D1D1D;
    color: #fff;
    padding: 130px 0;
}

.footer-area .socials a {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}

/* -------------- footer end ----------------- */