/* ------- fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------- common styles or utilities ----------- */
body {
    font-family: 'Poppins', sans-serif;

}

/* -------------- course start  --------------- */
.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.single-course .course-price {
    color: #289BDE;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.card-title {
    margin-bottom: 0.5rem;
}

.single-course h4 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

/* ----------- course end ---------------- */

.card-title,
.card-text,
.col-md-8 {
    color: #4A4A4A;
    background-color: #F4FAFD;
}